html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

ul {
  margin: 30px auto;
  width: 300px;
  border: 5px solid black;
}

li {
  float: left;
  width: 90px;
  height: 90px;
  border: 5px solid black;
  background: gray;
  cursor: pointer;
}

li:hover {
  background: yellow;
}

.🌯,
.🌮 {
  background: white;
  cursor: default;
  font-size: 40px;
}

.🌯:hover,
.🌮:hover {
  background: white;
}

.🌯:after,
.🌮:after {
  display: block;
  width: 100%;
  font-size: 60px;
  line-height: 80px;
}

/*.🌯:after {
  content: "x";
}

.🌮:after {
  content: "🌮";
}*/

.game-over li {
  color: red;
  cursor: default;
  background: white;
}

.winner-x .🌯,
.winner-🌮 .🌮 {
  background: green;
  color: white;
}

figcaption {
  font-size: 30px;
}
